* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

img {
  display: block;
  max-width: 100%;
}

ul,
li {
  list-style: none;
}

a {
  text-decoration: none;
}

:root {
  --white: hsl(0, 0%, 100%);
  --Light-gray: hsl(212, 45%, 89%);
  --Grayish-blue: hsl(220, 15%, 55%);
  --Dark-blue: hsl(218, 44%, 22%);
  --paragraph: 0.938rem;
}

body {
  background-color: var(--Light-gray);
  font-family: 'Outfit', sans-serif;
}

#container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#container-qr-code {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--white);
  width: 319px;
  margin-top: 20vh;
  padding: 15px 15px 20px 15px;
  border-radius: 15px;
}

#container-qr-code img {
  width: 300px;
  height: 300px;
  border-radius: 15px;
}

#container-qr-code #title {
  color: var(--Dark-blue);
  text-align: center;
  font-weight: 700;
  font-size: 1.35rem;
  margin: 20px 0;
}

#container-qr-code p {
  color: var(--Grayish-blue);
  font-size: var(--paragraph);
  font-weight: 400;
  text-align: center;
  line-height: 1.2;
}

@media (min-width: 1440px) {
  #container-qr-code #title {
    font-size: 1.25rem;
  }
}
